body {
    background-image: url('https://pbs.twimg.com/media/FKNSN9qXEAEZjV6?format=jpg&name=4096x4096');
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;       
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
    width:100%;
    overflow: hidden; 
      }
  #button{
      cursor: pointer;
      position: relative;
      background-color:rgb(248, 245, 245);
      margin-left:auto;
      margin-right:auto;
      display:block;
      margin-top:1vw;
      
      height: 5vw;
      width:11vw;
      font-weight: bolder; 
      font-size: large;
  }

  img {
      width: 5vw;
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-top: 20%;
  }

  #myText {
      font-size: 1.8vw; 
      border: groove 1vw rgb(241, 46, 62);
      margin-left:auto;
      margin-right:auto;
      display:block;
      margin-top:0.5vw;   
  }    