body {
    background-image: url('https://pbs.twimg.com/media/FKNSN9qXEAEZjV6?format=jpg&name=4096x4096');
    background-size: 100vw auto;
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;       
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-height:100%;
    max-width:100%;
     
      }
  #button{
      cursor: pointer;
      background-color:rgb(238, 232, 234);
      margin-left:auto;
      margin-right:auto;
      display: block;
      margin-top:1vw;
      
      height: 5vw;
      width: 20%;
      font-weight: bolder; 
      font-size: 2vw;
  }
  *{
      box-sizing: border-box;
    }

  img {
      width: 5%;
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-top: 6%;
  }

  #myText {
      font-size: 1.8vw; 
      border: groove 1vw rgb(241, 46, 62);
      margin-left:auto;
      margin-right:auto;
      display:block;
      margin-top:0.5vw;
      width: 54%;   
  } 
  
  #myDIV {
    font-size: 1.5vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 40%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
  } 

  #info{
    cursor: pointer;
    background-color:rgb(238, 232, 234);
    margin-left:auto;
    margin-right:auto;
    display: block;
    margin-top:1vw;
    font-size: 1.8vw;
    height: 5vw;
    width: 20%;
    font-weight: bolder; 
  }